<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Device tracker API</title>
    <style>
        body {
            padding: 200px 0px 0px 200px;
            font-family: sans-serif;
        }
        h1 {
            font-size: 50px;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <h1>Device tracker API</h1>
    <br>
    <h2><a href="/api/docs">API documentation</a></h2>
</body>
</html>
